In [1]:
# Import libraries
import pandas as pd
import numpy as np

cutlet=pd.read_csv(r'C:\Users\cheth\OneDrive\Desktop\ExcelR\Assignments\Assignment 3\Cutlets.csv')
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [2]:
#cutlet['Unit A'].mean()
# Finding out the means
cutlet.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [3]:
cutlet.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [4]:
# calculate the P value
import scipy.stats as stats

stats.ttest_ind(cutlet.iloc[:,0],cutlet.iloc[:,1])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [ ]:
# insigts
# since P value is 0.47 we will not reeject Null Hypothesis. (There is no significant differnce between Mean value)